.contentContainer {
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 4px rgba(30, 40, 86, 0.2);
    background-color: white;
    margin-top: 30px;
    margin-left: 30px;
    margin-right: 30px;
}

.contentTabContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.contentInfoContainer {
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.contentLeftContainer {
    display: flex;
    flex-direction: column;
}

.contentRightContainer {
    display: flex;
    flex-direction: column;
}

.contentImg {
    background-color: #EEF1FF;
    width: 700px;
    height: 340px;
}

.contentDescription {
    display: flex;
    flex-direction: column;
    background-color: rgb(30, 40, 86);
    justify-content: center;
    height: 80px;
}

.contentAddress {
    font-size: 24px;
    color: white;
    font-family: 'Arial';
}

.contentName {
    font-size: 20px;
    color: rgb(242, 251, 255);
    font-family: 'Arial';
}

.contentType {
    margin-top: 10px;
    font-size: 24px;
    color: #333333;
    font-family: 'Arial';
}

.contentLeft {
    margin-left: 20px;
}

.contentRight {
    margin-right: 30px;
}

.contentRight2 {
    margin-right: 15px;
}

.contentTop {
    margin-top: 30px;
}

.contentBottom {
    margin-bottom: 30px;
}

.contentProgressContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    width: 1440px;
}

.contentChooseContainer {
    display: flex;
    flex-direction: column;
    width: 460px;
    height: 160px;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 4px rgba(30, 40, 86, 0.2);
}

.contentSoiContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 420px;
}

.contentAllContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 600px;
    align-items: center;
}

.contentTableContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 1560px;
}

.contentSioTableContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 1080px;
}

.contentSioTableTitleContainer {
    display: flex;
    justify-content: flex-end;
    font-size: 20px;
    color: #333;
}

.contentSioTable {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    width: 1080px;
    height: 520px;
}

.contentSioTableText {
    font-size: 20px;
    color: #666;
    font-family: 'Arial';
}

.contentSioTableText span {
    color: #333;
}

.contentSioLeft {
    margin-left: 10px;
}

.contentSioLeft2 {
    margin-left: 40px;
}

.contentBtnRight {
    margin-right: 253px;
}

.contentSioRight {
    margin-right: 30px;
}

.contentSioRight2 {
    margin-right: 20px;
}

.contentSioRight3 {
    margin-right: 52px;
}

.contentPriceTop {
    margin-top: 5px;
}

.contentSioTop {
    margin-top: 20px;
}

.contentSioTop2 {
    margin-top: 30px;
}

.contentBtnTop {
    margin-top: 100px;
}

.contentBtnBottom {
    margin-bottom: 100px;
}

.contentSioTitle {
    font-size: 30px;
    color: rgb(54, 72, 152);
    font-family: 'Arial';
}

.contentSioBold {
    font-weight: bold;
}

.contentSioPrice {
    font-size: 20px;
    color: #333;
    font-family: 'Arial';
}

.contentSioPrice span {
    color: #666;
}

.contentSioTableTextContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.contentAContainer {
    display: flex;
    flex-direction: column;
}

.contentSioTableContainer2 {
    display: flex;
    flex-direction: row;
}

.contentSioEnterContainer {
    display: flex;
    flex-direction: column;
}

.contentSioBtnContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.contentSioBtn {
    width: 100px;
    height: 40px;
    font-size: 20px;
    font-family: 'Arial';
}

.contentBtnCancel {
    color: rgb(30, 40, 86);
    border: 1px solid #1D2856;
}

.contentBtnSave {
    color: white;
    background-color: rgb(30, 40, 86);
}

.contentBtnCancel:hover {
    color: rgb(30, 40, 86) !important;
    border: 1px solid #1D2856 !important;
}

.contentBtnCancel:focus {
    color: rgb(30, 40, 86) !important;
    border: 1px solid #1D2856 !important;
}

.contentBtnSave:hover {
    color: white !important;
    background-color: rgb(30, 40, 86) !important;
}

.contentBtnSave:focus {
    color: white !important;
    background-color: rgb(30, 40, 86) !important;
}