.contentContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow:0px 0px 4px rgba(30, 40, 86,0.2);
    background-color: white;
    margin-top: 30px;
    margin-left: 30px;
    margin-right: 30px;
    height:738px;
}
.contentInputContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.contentInputContainer span{
    font-size: 30px;
    color: rgb(30, 40, 86);
    font-family: 'Arial';
}
.contentEmailRight{
    margin-right: 90px;
}
.contentPasswordRight{
    margin-right: 32px;
}
.contentSettingTop{
    margin-top: 110px;
}
.ant-input{
    font-family: 'Arial';
}
.ant-input:hover{
    border-color: #1D2856 !important;
}