.codeContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.codeTitleContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 1080px;
}
.codeLeftContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(30, 40, 86);
    width: 300px;
    height: 100px;
}
.codeRightContainer{
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 100px;
}
.codeReivContainer{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.codeTop{
    margin-top: 60px;
}
.codeLeftTitle{
    color: white;
    font-size: 22px;
    font-family: 'Arial';
}
.codeRightTitle{
    font-size: 30px;
    color: black;
    font-family: 'Arial';
}
.codeTitleLeft{
    margin-left: 10px;
}
.codeRightTitle2{
    font-size: 16px;
    color: #666;
    font-family: 'Arial';
}