.registerBody{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1D2856;
}
.registerContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    margin-top: 40px;
    margin-bottom: 40px;
    width: 310px;
}
.registerTitle{
    font-size: 28px;
    font-family: 'Arial';
    color: rgb(30, 40, 86);
}
.registerAlert{
    width: 260px;
    margin-bottom: 20px;
    font-family: 'Arial';
}
.registerButton{
    margin-top: 28px;
    font-size: 18px;
    font-family: 'Arial';
    color: white;
    background-color: #1D2856;
    width: 260px;
    height: 50px;
}
.ant-btn:hover{
    background-color: #1D2856;
    color: white;
    border: none;
}
.ant-btn:focus{
    background-color: #1D2856;
    color: white;
    border: none;
}
.registerHint{
    font-size: 18px;
    font-family: 'Arial';
    color: rgb(30, 40, 86);
    margin-top: 20px;
}
.registerHint:hover{
    text-decoration: underline;
    cursor: pointer;
}
.registerTop{
    margin-top: 30px;
}
.registerBottom{
    margin-bottom: 60px;
}