.contentContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow:0px 0px 4px rgba(30, 40, 86,0.2) ;
    background-color: white;
    margin-top: 30px;
    margin-left: 30px;
    margin-right: 30px;
    height: 100%;
}
.contentTitle{
    font-size: 30px;
    font-family: 'Arial';
    color: rgb(30, 40, 86);
    margin-top: 30px;
    margin-bottom: 50px;
}
.contentChooseContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 100px;
}
.contentChooseWrap{
    flex-wrap: wrap;
    width: 452px;
}
.contentChooseBgContainer{
    background-color: rgb(30, 40, 86);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 380px;
    margin-left: 80px;
    margin-right: 80px;
}
.contentPerson{
    font-size: 40px;
    font-family: 'Arial';
    color: white;
}
.contentAccountTop{
    margin-top: 40px;
}
.contentButton{
    width: 160px;
    height: 50px;
    font-size: 30px;
    font-family: 'Arial';
    color: rgb(30, 40, 86);
}
.ant-btn:hover{
    background-color: white !important;
    color: rgb(30, 40, 86) !important;
    border: none;
}
.ant-btn:focus{
    background-color: white !important;
    color: rgb(30, 40, 86) !important;
    border: none;
}
.contentProfession{
    border: 1px  solid #1D2856;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 226px;
    height: 226px;
    font-size: 50px;
    font-family: 'Arial';
    color: rgb(30, 40, 86);
}
.contentProfession:hover{
    background-color: rgb(30, 40, 86);
    color: white;
    cursor: pointer;
}