.loginBody{
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    background-color: #1D2856;
    height: 100%;
}
.loginContainer{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    width: 310px;
}
.loginTitle{
    font-size: 28px;
    font-family: 'Arial';
    color: rgb(30, 40, 86);
}
.loginAlert{
    width: 260px;
    margin-bottom: 20px;
    font-family: 'Arial';
}
.loginButton{
    margin-top: 20px;
    font-size: 20px;
    font-family: 'Arial';
    color: white;
    background-color: #1D2856;
    width: 260px;
    height: 50px;
}
.ant-btn:hover{
    background-color: #1D2856 !important;
    color: white !important;
    border: none;
}
.ant-btn:focus{
    background-color: #1D2856 !important;
    color: white !important;
    border: none;
}
.loginHint{
    font-size: 18px;
    font-family: 'Arial';
    color: rgb(30, 40, 86);
    margin-top: 20px;
}
.loginHint:hover{
    text-decoration: underline;
    cursor: pointer;
}
.ant-input{
    font-family: 'Arial';
}
.ant-input:hover{
    border-color: #1D2856;
}
.loginTop{
    margin-top: 30px;
}
.loginBottom{
    margin-bottom: 60px;
}
