.forgetBody{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1D2856;
}
.forgetContainer{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    width: 310px;
}
.forgetTitle{
    font-size: 28px;
    font-family: 'Arial';
    color: rgb(30, 40, 86);
}
.forgetAlert{
    width: 260px;
    margin-bottom: 20px;
    font-family: 'Arial';
}
.forgetButton{
    margin-top: 28px;
    font-size: 20px;
    font-family: 'Arial';
    color: white;
    background-color: #1D2856;
    width: 260px;
    height: 50px;
}
.ant-btn:hover{
    background-color: #1D2856;
    color: white;
    border: none;
}
.ant-btn:focus{
    background-color: #1D2856;
    color: white;
    border: none;
}
.forgetHint{
    font-size: 16px;
    font-family: 'Arial';
    color: rgb(102, 102, 102);
}
.ant-input{
    font-family: 'Arial';
}
.forgetTop{
    margin-top: 60px;
}

.forgetBottom{
    margin-bottom: 60px;
}