.headerContainer2{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100px;
    align-items: center;
    background-color: white;
}
.headerRight{
    margin-right: 200px;
}
.headerLeft{
    margin-left: 30px;
}