.footerContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100px;
}
.footerDescription{
    font-size: 16px;
    font-family: 'Arial';
    color: rgb(153, 153, 153);
}
.footerTop{
    margin-top: 10px;
}
