.sentBody{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1D2856;
}
.sentContainer{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    width: 310px;
}
.sentTitle{
    font-size: 28px;
    font-family: 'Arial';
    color: rgb(30, 40, 86);
}
.sentEmailContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.sentButton{
    margin-top: 30px;
    font-size: 20px;
    font-family: 'Arial';
    color: white;
    background-color: #1D2856;
    width: 260px;
    height: 50px;
}
.ant-btn:hover{
    background-color: #1D2856;
    color: white;
    border: none;
}
.ant-btn:focus{
    background-color: #1D2856;
    color: white;
    border: none;
}
.sentHint{
    font-size: 16px;
    font-family: 'Arial';
    color: rgb(102, 102, 102);
}
.sentEmail{
    font-size: 16px;
    font-family: 'Arial';
    color: #1D2856;
}
.sentDoubt{
    font-size: 18px;
    font-family: 'Arial';
    color: rgb(153, 153, 153);
}
.sentDoubt span{
    color: #1D2856;
    font-size: 18px;
    text-decoration: underline;
    cursor: pointer;
}
.sentTop{
    margin-top: 30px;
}
.sentLeft{
    margin-left: 5px;
}

.sentBottom{
    margin-bottom: 60px;
}