.accountBody{
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: #F9F9F9;
}
.accountTitle{
    display: flex;
    margin-left: 10px;
}
.accountContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow:0px 0px 4px rgb(0, 135, 195);
    background-color: white;
    margin-top: 30px;
    margin-left: 30px;
    margin-right: 30px;
    height: 100%;
}
.accountChooseContainer{
    font-size: 30px;
    font-family: 'Arial';
    color: rgb(30, 40, 86);
    margin-top: 30px;
}
.accountIdentityContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.accountIdentityBgContainer{
    background-color: rgb(30, 40, 86);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 380px;
    margin-top: 50px;
    margin-left: 80px;
    margin-right: 80px;
}
.accountPerson{
    font-size: 40px;
    font-family: 'Arial';
    color: white;
}
.accountButton{
    width: 160px;
    height: 50px;
    font-size: 30px;
    font-family: 'Arial';
    color: rgb(30, 40, 86);
}
.accountTop{
    margin-top: 40px;
}
.accountBottom{
    margin-bottom: 60px;
}
.ant-btn:hover{
    background-color: white;
    color: rgb(30, 40, 86);
    border: none;
}
.ant-btn:focus{
    background-color: white;
    color: rgb(30, 40, 86);
    border: none;
}
.accountProfession{
    border: 1px  solid #1D2856;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 226px;
    height: 226px;
    font-size: 50px;
    font-family: 'Arial';
    color: rgb(30, 40, 86);
}
.accountProfession:hover{
    background-color: rgb(30, 40, 86);
    color: white;
    cursor: pointer;
}